<!-- Banner -->
<%- partial('_partial/banner.ejs', {
    mainText: theme.index_banner_text,
    secondaryText: theme.index_banner_text_secondary,
    faIconCss: theme.index_font_awesome_icon_css
}) %>

<!-- Content -->
<div class="w-100 ph2 ph4-m ph5-l mv5 mv6-l">
    <div class="content">
        <div class="mw8 center">
            <h2>OUR PACKAGES</h2>

            <div class="package-list">
                <% site.tags.findOne({name: 'froshPlugin'}).posts.forEach(function(item, index) { %>
                    <%- partial('_partial/plugin-index', {item: item, index: index}) %>
                <% }); %>
            </div>
        </div>
    </div>
</div>
