<section id="member" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>How can I become a member?</h2>
      </header>
      <p>
        All maintainers of a project are automatically in the Friends of Shopware group.
        That doesn’t mean that you have to provide an own plugin.
        Contributing to our existing plugins is also very important and we are always glad to find new developers for our exciting projects.
      </p>
      <p>
        If you do want to contribute your own plugins, please be aware that we won’t guarantee admission before you provide at least a functional prototype. The important thing is that you are convinced by your idea and you should be developing solely for this occasion.
      </p>
    </div>
    <span class="image no-rounding">
      <img src="/images/blue_heart.svg" alt="" />
    </span>
  </div>
</section>