<section id="aboutus" class="main">
  <div class="spotlight">
    <div class="content">
      <header class="major">
        <h2>About us</h2>
      </header>
      <p>
        FriendsOfShopware is a group of passionate developers who have banded together to build Shopware Plugins of the highest quality possible, using modern tooles, standard and practices.
      </p>

      <ul class="actions">
        <li>
          <a href="#member" class="button">How can I become a Member</a>
        </li>
      </ul>
    </div>
    <span class="image no-rounding">
      <img src="https://avatars3.githubusercontent.com/u/36633261?s=300&v=4" alt="" />
    </span>
  </div>
</section>