<section id="projects" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Projects</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Project lead</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{ range sort .Site.Data.projects.project "name" }}
                        <tr>
                            <td>{{ .name }} {{ .inStore }}</td>
                            <td>{{ .description }}</td>
                            <td>
                                {{ range $maintainerNick := .maintainers }}
                                    {{ $maintainer := index $.Site.Data.maintainers $maintainerNick }}
                                    {{ $maintainer.name }} (<a target="_blank" href="https://github.com/{{ $maintainerNick }}">@{{ $maintainerNick }}</a>)
                                {{ end }}
                            </td>
                            <td>
                                <a target="_blank" href="https://github.com/FriendsOfShopware/{{ .name }}">github</a>
                                {{ if  .enableStore }}
                                 | <a target="_blank" href="https://store.shopware.com/search?sSearch={{ .name }}">store</a>
                                {{ end }}
                            </td>
                        </tr>
                    {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
