<section id="projects" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>Projects</h2>
            </header>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Description</th>
                        <th>Project lead</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshCodeCeptionTests">FroshCodeCeptionTests</a>
                        </td>
                        <td>Codeception Testsuite for default Responsive Theme</td>
                        <td>Tim Windelschmidt (<a href="https://github.com/fionera">@fionera</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshProfiler">FroshProfiler</a>
                        </td>
                        <td>Symfony Profiler ported to Shopware with custom collectors</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshGrafana">FroshGrafana</a>
                        </td>
                        <td>Track your shopware and server statistics within Grafana</td>
                        <td>Kai Neuwerth (<a href="https://github.com/Crease29">@Crease29</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshTemplateMail">FroshTemplateMail</a>
                        </td>
                        <td>Store mail templates in theme</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td><a href="https://github.com/FriendsOfShopware/FroshAdminer">FroshAdminer</a>
                        </td>
                        <td>Adminer for Shopware</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshViewSnapshots">FroshViewSnapshots</a>
                        </td>
                        <td>Record or Log views</td>
                        <td>David Neustadt (<a href="https://github.com/dneustadt">@dneustadt</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshVariantSwitch">FroshVariantSwitch</a>
                        </td>
                        <td>Shopware plugin to switch variants in basket and checkout views</td>
                        <td>David Neustadt (<a href="https://github.com/dneustadt">@dneustadt</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshMailCatcher">FroshMailCatcher</a>
                        </td>
                        <td>Simple mailcatcher integrated in Shopware</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshSimultaneousEditNotification">FroshSimultaneousEditNotification</a>
                        </td>
                        <td>Backend Notification when multiple users working parallel</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshMaintenance">FroshMaintenance</a>
                        </td>
                        <td>Collection of tools for Shop Maintenance</td>
                        <td>David Neustadt (<a href="https://github.com/dneustadt">@dneustadt</a>) Alexander Wolf (<a
                                href="https://github.com/eemzet">@eemzet</a>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshPerformance">FroshPerformance</a>
                        </td>
                        <td>Collection of performance improvements</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>) Sidi Benmoh (<a
                                href="https://github.com/sbenmoh">@sbenmoh</a>)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshIonCubeChecker">FroshIonCubeChecker</a>
                        </td>
                        <td>IonCube check for Shopware plugins</td>
                        <td>Lars Schröder (<a href="https://github.com/larsbo">@larsbo</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshWebP">FroshWebP</a>
                        </td>
                        <td>WebP Support in Shopware</td>
                        <td>Soner Sayakci (<a href="https://github.com/shyim">@shyim</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshMailArchive">FroshMailArchive</a>
                        </td>
                        <td>Simple MailArchive for Shopware</td>
                        <td>Sebastian König (<a href="https://github.com/tinect">@tinect</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshHttpCacheIpExclude">FroshHttpCacheIpExclude</a>
                        </td>
                        <td>Exclude clients from Shopware HTTP Cache by IP, Params or Cookies</td>
                        <td>David Neustadt (<a href="https://github.com/dneustadt">@dneustadt</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshDataTableLayout">FroshDataTableLayout</a>
                        </td>
                        <td>Adds data table to the available product layouts of categories</td>
                        <td>David Neustadt (<a href="https://github.com/dneustadt">@dneustadt</a>)</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/FriendsOfShopware/FroshShareBasket">FroshShareBasket</a>
                        </td>
                        <td>Share basket as link, everywhere</td>
                        <td>Stefan Poensgen (<a href="https://github.com/stefanpoensgen">@stefanpoensgen</a>)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>