<section id="touch" class="main">
    <div class="spotlight">
        <div class="content">
            <header class="major">
                <h2>{{ .Site.Params.touch.title }}</h2>
            </header>
            <p>{{ .Site.Params.touch.description | markdownify }}</p>
            <ul class="actions">
                {{range $button := .Site.Params.touch.action }}
                    <li>
                        <a href="{{ $button.href }}" class="button {{ $button.customClass }}">{{ $button.buttontext }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ if .Site.Params.touch.image }}
            <span class="image"><img src="{{ .Site.Params.touch.image }}" alt=""/></span>
        {{ end }}
    </div>
</section>
