$phone-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$desktop-lg-width: 1200px;

// Small devices (phone landscape)
@mixin phone {
  @media screen and (max-width: $phone-width) {
    @include content;
  }
}

// Medium devices (tablets)
@mixin tablet {
  @media screen and (max-width: $tablet-width) {
    @include content;
  }
}

// Large devices (desktops)
@mixin desktop {
  @media screen and (max-width: $desktop-width) {
    @include content;
  }
}

// Extra large devices (large desktops)
@mixin desktop-lg {
  @media screen and (max-width: $desktop-lg-width) {
    @include content;
  }
}

@mixin text-truncate() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
