:root {
  --phone-width: 576px;
  --tablet-width: 768px;
  --desktop-width: 992px;
  --desktop-lg-width: 1200px;
}

@mixin phone {
  @media screen and (max-width: var(--phone-width)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: var(--tablet-width)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: var(--desktop-width)) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (max-width: var(--desktop-lg-width)) {
    @content;
  }
}

@mixin text-truncate() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
