<a href="<%- url_for(item.path) %>">
    <div class="card">
        <div class="title"><%- item.title %></div>
        <div class="description"><%- item.description %></div>
        <div class="project-maintainer"><strong>Maintained by: </strong> <%- item.maintainer %></div>
    </div>
</a>